:root {
    --original:#F26122;
    --complement:#F2C922;
    --success:#75fa83;
    --stroke: #D4490D;
    --white: #fdfdfd;
    --black: #181717;
    --gray: #484848;
    --lightgrey : #d0d0d0;
}

.btns {
    font-family: sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;

}
.btns:hover {
    transform: translateY(-4px);
}
/* .btns:active {
} */

/* Colors */

.btns-primary {
    background-color: #F26122;
    color: var(--white);
    margin: 10px;
    border: none;
}

.btns-cancel {
    background-color: #fdfdfd;
    color: var(--gray);
    border: 2px solid var(--lightgrey);
}
.btns-success {
    background-color: #75fa83;
    color: var(--white);
    border: none;
}
.btns-icon {
    background-color: var(--white);
    color: var(--stroke);
    border-radius: 5px;
    border:none;
    margin-right: 10px;
}
/* Animation */
.btns-cancel:hover {
    background-color: #F26122;
    color: var(--white);
    border-color: var(--original);
}


/* Sizes */
.btns-medium {
    padding: 6px 12px;
    font-size: 16px;

}
.btns-large {
    padding: 10px 20px;
    font-size: 20px;
    
}
.diagonal-split-background{
    background-color: var(--white);
    background-image: -webkit-linear-gradient(55deg, #F26122 50%, #fdfdfd 50%);
  }